<!DOCTYPE html>
<html lang='en' dir='ltr'>
	<head>
		<title></title>
	</head>
	<body>
		<div id='app'>
			<ul>
				<!-- li v-for='comment in comments'>
					"{{ comment.body}}" || {{ comment.time }} || Score : {{ comment.score }}
				</li -->
				<comments v-for="comment in comments" :comment="comment"></comments>
			</ul>
			<textarea v-model="comment_text" rows="8" @keyup.enter="postComment"></textarea>
		</div>

		<template id='comment-template'>
			<div>
				<button type="button" v-on:click="tambah">+</button>
				<div>{{ comment.body }} || {{ comment.time }} || Score : {{ score }} </div>
				<button type="button" @click="kurang">-</button>
				<Br><br>
			</div>
		</template>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script type="text/javascript" src="index.js"></script>
</html>
